apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: custom-node-exporter-logs-pvc
  namespace: service-foundry
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: longhorn-rwx
  resources:
    requests:
      storage: 1Gi