namespace: dev
namePrefix: dev-

resources:
  - ../../base

configMapGenerator:
  - name: index-html
    behavior: replace
    files:
      - index.html=./index.html

patches:
  - target:
      kind: Namespace
    patch: |
      - op: replace
        path: /metadata/name
        value: dev

  - target:
      kind: Deployment
      name: web-app
    path: pod-label-patch.yaml