apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  # - ../base # base is empty and causes error if commented out
  - postgresql-credentials-secret.yaml

helmCharts:
  - name: postgresql
    repo: https://charts.bitnami.com/bitnami
    version: 16.7.27
    releaseName: postgresql
    namespace: dev
    valuesFile: values-dev.yaml