<div class="subnav">
{% for category in site.data.tech_documents.categories %}
    {% assign category_path = "/documents/" | append: category.url %}
    <a href="{{ site.baseurl }}/documents/{{ category.url }}" class="{% if page.url contains category_path %}active{% endif %}">{{ category.menu }}</a>
{% endfor %}
<!--    <a href="{{ site.baseurl }}/documents/infra-foundry/index-backup.html" class="text-gray-300 hover:text-white">Infra</a>-->
<!--    <a href="{{ site.baseurl }}/documents/sso-foundry/index-backup.html" class="text-gray-300 hover:text-white">SSO</a>-->
<!--    <a href="{{ site.baseurl }}/documents/o11y-foundry/index-backup.html" class="text-gray-300 hover:text-white">Observability</a>-->
<!--    <a href="{{ site.baseurl }}/documents/backend-foundry/index-backup.html" class="text-gray-300 hover:text-white">Backend</a>-->
<!--    <a href="{{ site.baseurl }}/documents/bigdata-foundry/index-backup.html" class="text-gray-300 hover:text-white">Big Data</a>-->
</div>