<div class="subnav">
    <a href="{{ site.baseurl }}/documents/infra-foundry/index.html" class="text-gray-300 hover:text-white">Infra</a>
    <a href="{{ site.baseurl }}/documents/sso-foundry/index.html" class="text-gray-300 hover:text-white">SSO</a>
    <a href="{{ site.baseurl }}/documents/o11y-foundry/index.html" class="text-gray-300 hover:text-white">Observability</a>
    <a href="{{ site.baseurl }}/documents/backend-foundry/index.html" class="text-gray-300 hover:text-white">Backend</a>
    <a href="{{ site.baseurl }}/documents/bigdata-foundry/index.html" class="text-gray-300 hover:text-white">Big Data</a>
</div>