<!--
  variables:
  - page_title: the title of the page, defaults to "Service Foundry" if not provided
  - use_lucide: whether to use Lucide icons, defaults to true
  - use_alpine: whether to use Alpine.js, defaults to true
 -->
{% assign use_lucide = include.use_lucide | default: true %}
{% assign use_alpine = include.use_alpine | default: false %}
{% assign page_title = include.page_title | default: page.title | default: "Service Foundry" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page_title }}</title>

    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">


{% if use_lucide == true %}
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            lucide.createIcons();
            // console.log("lucide icons initialized");
        });
    </script>

{%  endif %}

{% if use_alpine == true %}
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endif %}
</head>