<!--
  variables:
  lucide_icon: the name of the Lucide icon to display. defaults to "rocket"
  color: the color of the icon, defaults to "text-teal-500"
  width: the width of the icon, defaults to "w-6"
  height: the height of the icon, defaults to "h-6"
-->
{% assign lucide_icon = include.lucide_icon | default: "rocket" %}
{% assign color = include.color | default: "text-teal-500" %}
{% assign width = include.width | default: "w-6" %}
{% assign height = include.height | default: "h-6" %}

<i data-lucide="{{ lucide_icon }}" class="{{ width }} {{ height }} {{ color }} mr-1" aria-hidden="true"></i>
