<div class="subnav">
{% assign products = site.data.products %}

{% for product in products %}
    {% assign product_path = "/products/" | append: product.url %}
    <div class="inline-flex">
        {% include lucide-icon.html lucide_icon=product.icon color="text-indigo-100" width="w-4" height="h-4" %}
        <a href="{{ site.baseurl }}{{ product_path }}" class="{% if page.url contains product_path %}active{% endif %}">{{ product.label }}</a>
    </div>
{% endfor %}

<!--    <a href="{{ site.baseurl }}/products/observability-foundry/" class="text-gray-300 hover:text-white">Observability Foundry</a>-->
<!--    <a href="{{ site.baseurl }}/products/sso-foundry/" class="text-gray-300 hover:text-white">SSO Foundry</a>-->
<!--    <a href="{{ site.baseurl }}/documents/o11y-foundry/index-backup.html" class="text-gray-300 hover:text-white">Observability</a>-->
<!--    <a href="{{ site.baseurl }}/documents/backend-foundry/index-backup.html" class="text-gray-300 hover:text-white">Backend</a>-->
<!--    <a href="{{ site.baseurl }}/documents/bigdata-foundry/index-backup.html" class="text-gray-300 hover:text-white">Big Data</a>-->
</div>