.listingblock pre,
.highlight pre {
  background-color: var(--code-bg);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  overflow-x: auto;
  line-height: 1.6;
  margin: 0;
  white-space: pre;
  overflow-wrap: break-word;
  tab-size: 2;
}

.highlight pre code {
  padding: 0;
  margin: 0;
  display: block;
  line-height: 1.4;
  white-space: pre;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}