.toc-nav {
  width: 250px;
  padding: 1rem;
  background-color: #f8f8f8;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  position: sticky;
  top: 0;
  height: calc(100vh - 120px);
  flex-shrink: 0;
}

#toc {
  font-size: 0.875rem;
  line-height: 1.4;

  ul {
    margin: 0;
    padding-left: 1rem;
    //list-style-type: disc;
    list-style: none;
  }

  li {
    margin: 0.25rem 0;
  }

  a {
    text-decoration: none;
    color: #0d9488;

    &:hover {
      text-decoration: underline;
    }
  }
}

body.no-toc #toc {
  display: none !important;
}