namespace: dev
namePrefix: dev-

resources:
  - ../../base

configMapGenerator:
  - name: node-sources
    behavior: replace
    files:
      - server.js=./server.js

patches:
  - target:
      kind: Namespace
    patch: |
      - op: replace
        path: /metadata/name
        value: dev
  - target:
      kind: Deployment
      name: web-app
    path: pod-label-patch.yaml