namespace: staging
namePrefix: staging-

resources:
  - ../../base

configMapGenerator:
  - name: index-html
    behavior: replace
    files:
      - index.html=./index.html

patches:
  - target:
      kind: Namespace
    patch: |
      - op: replace
        path: /metadata/name
        value: staging
