apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

resources:
  #- ../base
  - postgresql-credentials-secret.yaml

helmCharts:
  - name: postgresql
    repo: https://charts.bitnami.com/bitnami
    version: 16.7.27
    releaseName: postgresql
    namespace: staging
    valuesFile: values-staging.yaml