resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - configmap.yaml

# Allow overlays to replace placeholders like namePrefix, namespace, etc.
generatorOptions:
  disableNameSuffixHash: true