<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Service Foundry</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body class="bg-white text-gray-800 font-sans">

<!-- Navigation -->
<header>
    <a href="/service-foundry/pages/index.html" class="text-2xl font-semibold hover:text-teal-400">Service Foundry</a>
    {% include nav.html %}

</header>
<div class="max-w-4xl mx-auto px-6 py-12">
    <h1 class="text-4xl font-bold text-gray-900 mb-8">GitHub Repositories</h1>

    {% assign private_repos = site.data.github_repository | where: "type", "private" %}
    {% assign public_repos = site.data.github_repository | where: "type", "public" %}
    <!-- Public Repositories -->
    <section  class="mt-12 mb-12">
        <h2 class="text-2xl font-semibold text-green-600 mb-4">🌐 Public Repositories</h2>
        <ul class="space-y-4 text-gray-700 list-none">
            {% for repo in public_repos %}

            <li>
                <a href="https://github.com/nsalexamy/{{ repo.name }}" class="text-blue-600 font-semibold hover:underline">
                    {{ repo.title }}
                </a>
                <p class="text-sm text-gray-600">{{ repo.description }}</p>
            </li>

            {% endfor %}
        </ul>
    </section>


    <!-- Private Repositories -->
    <section class="mt-12 mb-12">
        <h2 class="text-2xl font-semibold text-red-600 mb-4">🔒 Private Repositories</h2>
        <ul class="space-y-4 text-gray-700 list-none">
            {% for repo in private_repos %}

            <li>
                <a href="https://github.com/nsalexamy/{{ repo.name }}" class="text-blue-600 font-semibold hover:underline">
                    {{ repo.title }}
                </a>
                <p class="text-sm text-gray-600">{{ repo.description }}</p>
            </li>

            {% endfor %}
        </ul>
    </section>


</div>





<!-- Footer -->
<footer class="bg-gray-900 text-white text-sm py-6 text-center">
    © 2025 Service Foundry. All rights reserved.
</footer>

</body>
</html>