

{% include head.html page_title=page.title %}

<body class="bg-white text-gray-800 font-sans">

<!-- Navigation -->
<header>
    {% include service-foundry-link.html %}
    {% include nav.html %}
</header>

{% include products-subnav.html %}


{% assign product = site.data.products | where: "name", page.product_name | first %}



<!-- Hero Section -->
<section class="bg-gray-100 py-20">
    <div class="max-w-4xl mx-auto text-center px-6">
        <h1 class="text-5xl font-bold mb-6 text-gray-900 inline-flex">
            {% include lucide-icon.html lucide_icon=product.icon color=product.icon-color width="w-8" height="h-8" %}
            {{ product.name }}
        </h1>

        <h2 class="text-xl font-bold">{{ product.short-description }}</h2>
        <p class="text-left text-lg text-gray-700 mt-2 mb-2">
            {{ product.description }}
        </p>
{% if page.intro-image %}

        {% assign image_src = site.baseurl | append: '/products/' | append: page.intro-image  %}
        {% assign image_caption = "Figure 1 - " | append: page.intro-image-caption %}
        {% assign image_alt = product.name | append: " Image" %}
        {% include image-with-caption-big.html image_src=image_src image_alt=image_alt caption=image_caption %}
<!--        <figure class="my-8 text-center">-->
<!--            <img class="mx-auto rounded-lg shadow-md" src="{{ site.baseurl }}/products/{{ product.intro-image }}" alt="{{ product.name }} Image" class="mt-10 mx-auto max-w-full h-auto" />-->
<!--            <figcaption class="mt-2 text-sm text-gray-500 italic">-->
<!--                Figure 1. Observability Foundry – Real-time dashboard view-->
<!--            </figcaption>-->
<!--        </figure>-->
{% else %}
        <img src="/service-foundry/pages/assets/images/sf-concept.png" alt="Service Foundry Architecture"
             class="mt-10 mx-auto max-w-full h-auto" />
{% endif %}




    </div>
</section>

<!-- Features Section -->

<section class="py-16">
    <div>
        <div class="max-w-4xl mx-auto text-center px-6 mb-10">
            <h2 class="text-xl font-bold">Key Features</h2>
        </div>
    </div>


    <div class="max-w-6xl mx-auto px-6 grid md:grid-cols-1 gap-10 text-center">

        {% for feature in product.key-features %}

        <div class="text-left">
<!--            <i data-lucide="rocket" class="w-6 h-6 text-teal-500" aria-hidden="true"></i>-->
            <div>
                <h3 class="text-lg font-semibold text-gray-900 mb-1 inline-flex">
                    {% include lucide-icon.html lucide_icon=feature.icon color="text-blue-500" width="w-5" height="h-5" %}
                    {{ feature.title }}
                </h3>
                <p class="text-sm text-gray-700">{{ feature.description }}</p>
            </div>
        </div>
<!--        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 border border-gray-200">-->
<!--            <h3 class="text-lg font-semibold text-gray-900 mb-2">{{ feature.title }}</h3>-->
<!--            <p class="text-gray-600 text-left">-->
<!--                {{ feature.description }}-->
<!--            </p>-->
<!--        </div>-->
        {% endfor %}

    </div>
</section>

<section class="py-16">
    <div>
        <div class="max-w-4xl mx-auto text-center px-6 mb-10">
            <h2 class="text-xl font-bold">Product Images</h2>
        </div>
    </div>
    <div class="max-w-6xl mx-auto px-6 grid md:grid-cols-1 gap-10 text-center">
        {% for image in page.product-images %}

        {% assign image_index = forloop.index | plus: 1 %}
        {% assign image_title = image.title %}
        {% assign image_description = image.description | default: "Description for Image " | append: image_index %}
        {% assign image_src = site.baseurl | append: '/products/' | append: image.src %}
        {% assign image_caption = "Figure " | append: image_index | append: " - " | append: image.caption %}


        <div>
<!--            <img class="w-full h-68 object-cover" src="{{ image_src }}" alt="{{ image.title }}">-->

            <div class="p-6 text-left ">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white mb-2">{{ image.title }}</h3>
                <p class="text-sm text-gray-700 dark:text-gray-300">
                    {{ image.description }}
                </p>
            </div>
            {% include image-with-caption-big.html image_src=image_src image_alt=image.title caption=image_caption %}

        </div>
        {% endfor %}
    </div>
</section>


{% include footer.html %}

</body>
</html>