apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
    spec:
      containers:
        - name: node-header-dump
          image: node:22-alpine
          command: ["node", "/app/server.js"]
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: node-sources
              mountPath: /app/server.js
              subPath: server.js
      volumes:
        - name: node-sources
          configMap:
            name: node-sources